<div class="card">
    <div>
        <div class="footer-info">
            <div class="footer-logo">
                <h5>El TUBO CAFE</h5>
                <p>Tamesis, Antioquia, Colombia</p>
            </div>
            <div class="footer-links">
                <h5>Información</h5>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
        
        <div class="site-info">
            <div class="social-icons-item">
                <i class="pi pi-instagram" style="color: #FD05B1"></i>
                <i class="pi pi-whatsapp" style="color: green"></i>
            </div>
            <div class="copyright-item">
                © 2025 Yfer Development
            </div>
        </div>        
    </div>
</div>