
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.site-info {
    color: #fff;
    background-color: #35383a;
    border-radius: 10px;
    display: flex;
    justify-content: center; // Centra horizontalmente los elementos
    align-items: center; // Centra verticalmente los elementos
    padding: 15px 20px;
    text-align: center;
    gap: 20px; // Espacio entre los íconos y el texto
}

.social-icons-item {
    display: flex;
    gap: 15px; // Espacio entre los íconos
}

.social-icons-item i {
    font-size: 1.8rem;
    transition: transform 0.3s ease-in-out;
}

.social-icons-item i:hover {
    transform: scale(1.2);
}

.copyright-item {
    font-size: 1rem;
    opacity: 0.8;
}
