<div class="card">
    <p>footer works!</p>
    <div>
        <p>footer works!</p>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="site-info">
            <div class="social-icons-item">
                <i class="pi pi-instagram" style="color: #FD05B1"></i>
                <i class="pi pi-whatsapp" style="color: green"></i>
            </div>
            <div class="copyright-item">
                © 2025 Quois Development
            </div>
        </div>        
    </div>
</div>