.card {
    background: linear-gradient(to right, #3498db 50%, #e74c3c 50%);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    color: white; // Ajusta según necesites
}

.container-slide {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
}
.item {
    flex-grow: 1;
    flex-basis: 200px;
}