<div class="card">
    <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="false" [circular]="true"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div>
                <div class="container-slide">
                    <!--Imagen del centro-->
                    <div class="item">
                        <div class="relative mx-auto">
                            <img src="/assets/{{ product.image }}" alt="{{ product.name }}" width="100%"
                                class="w-full border-round">
                        </div>
                    </div>
                    <!--Imagen del centro-->
                    <!-- Informacion del producto -->
                    <div class="item">
                        <div class="product-home-info">
                            <div class="bloqueone">
                                <h2>FINCA LA MARIA</h2>
                                <p class="">Támesis . Antioquia . Colombia</p>
                            </div>
                            <div class="bloquetwo">
                                <h3>{{ product.name }}</h3>
                                <p>Notas a almendras, frutos secos, chocolate y panela</p>
                                <h3 class="precio">{{ formatPrice(product.price) }}</h3>
                                <div class="btns-grupo">
                                    <span>
                                        <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                                        <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Informacion del producto -->
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>