.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    color: white; // Ajusta según necesites
}

.container-slide {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    max-width: 710px;
    margin: 0 auto;
}
.item {
    flex-grow: 1;
    flex-basis: 200px;
    align-items: center;   
}
::ng-deep .p-carousel-container{
    background: linear-gradient(to right, #35383a 50%, #354f3d 50%);
    border-radius: 10px;
}